<launch>
   <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>
   <include file="$(find turtlebot_bringup)/launch/minimal.launch"></include><!--Unsure if this is needed-->
   <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
   <arg name="scan_topic" value="/scan" />
   </include>
   <arg name="rgb_processing" value="true"/>
   <arg name="depth_registration" value="false"/>
   <arg name="depth_processing" value="false"/>

   <arg name="map_file" default="/p1-b337/map/gmapping_01.yaml"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

   <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/>
   <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
   <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
   <arg name="initial_pose_a" default="0.0"/>
   <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
   </include>


   <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
   <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
   <param name="controller_frequency" value="10.0"/>
   <!--<rosparam file="$(find p1-b337)/param/costmap_common_param.yaml" command="load" ns="global_costmap"/>
   <rosparam file="$(find p1-b337)/param/costmap_common_param.yaml" command="load" ns="local_costmap"/>
   <rosparam file="$(find p1-b337)/param/local_costmap_param.yaml" command="load"/>
   <rosparam file="$(find p1-b337)/param/global_costmap_param.yaml" command="load"/>
   <rosparam file="$(find p1-b337)/param/trajectory_planner.yaml" command="load"/>-->
   <!--<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 odom base_link 100"></node>
   <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0 0 0 0 base_link base_footprint 100"></node>-->
</launch>