<launch>
   <include file="$(find turtlebot_bringup)/launch/minimal.launch"></include><!--Unsure if this is needed-->
   <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"></include>
   <arg name="rgb_processing" value="true"/>
   <arg name="depth_registration" value="false"/>
   <arg name="depth_processing" value="false"/>
   <arg name="scan_topic" value="/scan"/>
  <!-- <include file="$(find move_base)/launch/move_base.launch" output="screen"></include> --> <!--Unsure if it needs the screen or if this makes things more complicated-->
   <node pkg="$(find move_base)" type="move_base" name="move_base"></node>
   <param name="controller_frequency" value="10.0"/>
   <rosparam file="$(find p1-b337)/param/costmap_common_param.yaml" command="load" ns="global_costmap"/>
   <rosparam file="$(find p1-b337)/param/costmap_common_param.yaml" command="load" ns="local_costmap"/>
   <rosparam file="$(find p1-b337)/param/local_costmap_param.yaml" command="load"/>
   <rosparam file="$(find p1-b337)/param/global_costmap_param.yaml" command="load"/>
   <rosparam file="$(find p1-b337)/param/trajectory_planner.yaml" command="load"/>
   <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 odom base_link 100"></node>
   <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 map odom 100"></node>
</launch>